name: Integration Test
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Self test
        id: selftest

        # Put your action repo here
        uses: houseofdigital/dgt-tag-get-action

      - name: Check outputs
        run: |
          test "${{ steps.selftest.outputs.myOutput }}" == "nil"
