name: Integration Test

on: 
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Self test
        id: selftest

        # Put your action repo here
        uses: houseofdigital/dgt-tag-split-action@master

      - name: Check outputs
        run: |
          test "${{ steps.selftest.outputs.versionnr }}" == "nil"
          test "${{ steps.selftest.outputs.tag }}" == "nil"
          
      - name: Conditional run
        if: ${{ steps.selftest.outputs.tag == 'debug' }}
        run: |
          echo "condition met!"
